h6 {
    color: white !important;
}
#conteudo-pagina{
    font-family: 'Poppins', sans-serif;
    color:#fff;
    text-shadow: 2px;
    text-align: left !important;
}

.registerclient{
    width: 90% !important;
    height: 100vh;
    /* margin-top: 35px; */
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px !important;
}

.rowForm {
    text-align: center !important;
    height: inherit !important;
}

.rowTituloTabela {
    height: 10% !important;
    margin: auto;
}

h3 {
    margin: auto;
}

#form {
    width: 100%;
    display: inline !important;
}

.rowForm select {
    margin: auto !important;
}

.colTituloSelect {
    padding-left: 13% !important;
}

/* .colTituloBtn {
    padding-left: 10% !important;
} */

.table-wrapper {
    position: relative;
    height: 80%;
    overflow: auto;
}

#clientform, #usuarioform {
    padding-left: 10%;
}

#btnform {
    padding-right: 10%;
}

caption {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
}

.titlelabel{
    text-align: left;
    /* font-weight: bold; */
}

.rowTopoRelation {
    position: relative;
    height: 10% !important;
    text-align: center;
}

.rowBaixoRelation {
    margin-top: 20px;
    height: 90% !important;
    margin-bottom: 20px;
    padding-top: 20px;
}

table {
    height: 400px !important;
    margin: 0px !important;
}