@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.video-background-holder {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
  
.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.conteudo-main {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
}

div.row{
    height: 100vh;
}


.icon2rp {
    display: flex;
    padding-top: 15px;
    padding-left: 15px;
    width: 75%; 
}

.sidemenu {
    backdrop-filter: blur(8px) brightness(70%);
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    line-height: 100%;
}

li.nav-item {
    padding-left: 10px;
    padding-top: 10px;
}

.nav-link:hover {
    font-size: 125%;
    color: rgb(0, 183, 255) !important;
}

.dropdown-item:hover {
    color: rgb(0, 183, 255) !important;
}

#conteudo-pagina {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 !important;
}

#colnavbar {
    padding-right: 0 !important;
}

.notification-card {
    width: 40%;
    height: 15%;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}

.notification-card h2 {
    margin: 0;
}

.details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-left,
.details-right {
    flex: 1;
}

.button-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button,
.thumbs-up-button,
.thumbs-down-button {
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover,
.thumbs-up-button:hover,
.thumbs-down-button:hover {
    background-color: #e0e0e0;
}