@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.video-background-holder {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
  
.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.conteudo-main {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
}

div.row{
    height: 100vh;
}


.icon2rp {
    display: flex;
    padding-top: 15px;
    padding-left: 15px;
    width: 75%; 
}

.sidemenu {
    backdrop-filter: blur(8px) brightness(70%);
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    line-height: 100%;
    position: relative; /* Adicione esta linha */
    z-index: 2;
}

li.nav-item {
    padding-left: 10px;
    padding-top: 10px;
}

.nav-link:hover {
    font-size: 125%;
    color: rgb(0, 183, 255) !important;
}

.dropdown-item:hover {
    color: rgb(0, 183, 255) !important;
}

#conteudo-pagina {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 70%; /* Ajustado para acomodar o painel transparente e o restante do espaço */
    height: 100%;
    text-align: center;
    padding: 0 !important;
    overflow: auto;
}

#colnavbar {
    padding-right: 0 !important;
}

.transparent-panel {
    position: fixed;
    top: 20px; /* Adicione um espaço acima */
    right: 20px; /* Posiciona à direita com um espaço à direita */
    bottom: 20px; /* Adicione um espaço abaixo */
    width: 80%; /* Ajuste a largura conforme necessário */
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.transparent-panel-content {
    padding: 20px;
    color: white;
}
