<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Horas</title>
    <link rel="icon" href="../../static/image/browser_icon.png">
    <link rel="stylesheet" href="../../static/css/template.css">
    <link rel="stylesheet" href="../../static/css/timeApontament.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="/static/js/acess.js" defer></script>
</head>

<body>
    <!-- Background video -->
    
    <div class="video-background-holder">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="../../static/image/lines.mp4" type="video/mp4">
        </video>

    <!-- FIM VIDEO BACKGROUND -->

    <!-- INICIO PAGINA -->
    <div class="container-fluid conteudo-main">
        <div class="row">
                <!-- INICIO MENU LATERAL -->
                <div class="col-sm-2" id="colnavbar">
                    <div class="sidemenu">
                        <a class="" href="#">
                            <img src="../../static/image/icon_2rp.png" class="icon2rp" alt="Home">
                        </a>
                        <nav class="navbar navbar-expand-lg navbar-dark">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav flex-sm-column">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="../home/home.html">Início</a>
                                    </li>
                                    <li class="nav-item" id="timeApontament">
                                        <a class="nav-link active" aria-current="page" href="../timeApontament/timeApontament.html">Registrar Horas</a>
                                    </li>
                                    <li class="nav-item dropdown" id="register">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                            Cadastro
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="../register/registerUser.html">Usuário</a></li>
                                            <li><a class="dropdown-item" href="../register/registerRC.html">Centro de Resultado</a></li>
                                            <li><a class="dropdown-item" href="../register/registerCompany.html">Cliente</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown" id="addRelation">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                            Criar Relação
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="../addRelation/UserRC.html">Usuário e Centro de Resultado</a></li>
                                            <li><a class="dropdown-item" href="../addRelation/clientRC.html">Cliente e Centro de Resultado</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Consulta
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li id="consultUser"><a class="dropdown-item" href="../consult/consultUser.html">Usuário</a></li>
                                            <li id="consultRC"><a class="dropdown-item" href="../consult/consultResultCenter.html">Centro de Resultado</a></li>
                                            <li id="consultCompany"><a class="dropdown-item" href="../consult/consultCompany.html">Cliente</a></li>
                                            <li id="consultTimeApontament"><a class="dropdown-item" href="../consult/consultApontamentTime.html">Horas Registradas</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item" id="approve">
                                        <a class="nav-link active" aria-current="page" href="../approve/approve.html">Aprovar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active text-danger" aria-current="page" href="../login/loginScreen.html">Sair</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- FIM MENU LATERAL -->

                <div class="col" id="conteudo-pagina">
                    <!-- INICIO CONTEUDO ESPECIFICO -->
                    <h1 class="mb-4" style="padding-top: 25px;">Registrar Horas</h1>
                    <div class="container-fluid" style="padding-top: 50px;">
                        <div class="row">
                            <div class="col colform1">
                                <form method="post" id="form_time">
                                    <div class="form-group">
                                        <label for="startDate">Horário de Início:</label>
                                        <input id="startDate" name="startDate" type="datetime-local" class="form-control" style="width: 200px;" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="finishDate">Horário de Término:</label>
                                        <input id="finishDate" name="finishDate" type="datetime-local" class="form-control" style="width: 200px;" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary btnSubmit">Registrar</button>
                                </form>
                            </div>
                            <div class="col colform2">
                                <form action="post" class="form_time2">
                                    <div class="form-group">
                                        <label for="typeSend">Tipo de Hora:</label>
                                        <select id="typeSend" name="typeSend" class="form-select" style="width: 200px;" required>
                                            <option value="null">Selecione o tipo</option>
                                            <option value="EXTRA">Extra</option>
                                            <option value="WARNINGTIME">Sobreaviso</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="clients">Cliente:</label>
                                        <select id="clients" name="clients" class="form-select" style="width: 200px;" required>
                                         <option value="null">Selecione o cliente</option>
                                     </select>
                                    </div>
            
                                    <div class="form-group">
                                        <label for="resultCenters">Centro de Resultado:</label>
                                        <select id="resultCenters" name="resultCenters" class="form-select" style="width: 200px;" required>
                                            <option value="null">Selecione o CR</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal" tabindex="-1" id="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Sucesso!</h5>
                                </div>
                                <div class="modal-body">
                                    <p>Horas registradas com sucesso!</p>
                                </div>
                                    <div class="modal-footer">
                                    <a href="../timeApontament/timeApontament.html" class="btn btn-secondary">Ok</a>
                                    <a href="../consult/consultApontamentTime.html" class="btn btn-primary">Consultar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FIM CONTEUDO ESPECIFICO -->
                </div>
            </div>
        </div>
        <!-- FIM PAGINA -->

    </div>



     <!-- Arquivos JavaScript do Bootstrap (opcional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <!-- JavaScript que adm os eventos -->
    <script src="/static/js/timeApontament/timeApontament.js" type="module"></script>
</body>
</html>