<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container mt-5">
            <h1 class="mb-4">Apontamento de Tempo</h1>
            <form method="post">
                <div class="form-group">
                    <label for="idUser">User:</label>
                    <select id="idUser" name="idUser" class="form-select">
                        <option value="null">Select User</option>
                        <option th:each="user : ${users}"
                                th:text="${user.name}"
                                th:value="${user.id}"/>
                    </select>
                </div>
                <div class="form-group">
                    <label for="startDate">Start date time:</label>
                    <input id="startDate" name="startDate" type="datetime-local" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="finishDate">End date time:</label>
                    <input id="finishDate" name="finishDate" type="datetime-local" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="typeSend">Type Time:</label>
                    <select id="typeSend" name="typeSend" class="form-select">
                        <option value="null">Select User</option>
                        <option value="EXTRA">Extra</option>
                        <option value="WARNINGTIME">Warning Time</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="codeRc">Result Center:</label>
                    <select id="codeRc" name="codeRc" class="form-select">
                        <option value="null">Select Result Center</option>
                        <option th:each="rc : ${rcs}"
                                th:text="${rc.rc}"
                                th:value="${rc.codeRc}"/>
                    </select>
                </div>
                <div class="form-group">
                    <label for="atividade">Client:</label>
                    <input type="text" class="form-control" id="atividade" placeholder="Informe a atividade">
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>

        <!-- Inclua os arquivos JavaScript do Bootstrap (opcional) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    </div>
</body>
</html>