<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Register View</title>
</head>
<body>
    <div layout:fragment="content">
        <h2 class="title">Register User</h2>
        <div class="container mt-3">
            <form method="post" class="row g-3">
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input id="name" name="name" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-6">
                    <label for="jobrole" class="form-label">Jobrole</label>
                    <select id="jobrole" name="jobrole" class="form-select">
                        <option value="null">Choose your jobrole</option>
                        <option value="ADMINISTRADOR">Administrator</option>
                        <option value="EMPLOYEE">Employee</option>
                        <option value="MANAGER">Manager</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="resultCenter" class="form-label">Result Center</label>
                    <select id="resultCenter" name="resultCenter" class="form-select" >
                        <option value="null">Choose your Result Center</option>
                        <option th:each="rc : ${resultCenter}"
                                th:text="${rc.rc}"
                                th:value="${rc.codeRc}"/>
                    </select>
                </div>

<!--                <div class="col-12">-->
<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input" type="checkbox" id="gridCheck">-->
<!--                        <label class="form-check-label" for="gridCheck">-->
<!--                            Check me out-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>