<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title> Lançamento de hora </title>
</head>
<body>
    <div layout:fragment="content">


        <div class="container">
            <div class="row g-3 align-items-center">
                <div class="col-6">

                    <!-- Calendario -->
                    <div class="content pt-4">

                        <div class="container text-left ">
                            <div class="row justify-content-center">
                                <div class="col-sm-4">
                                    <h2 class="mb-5 text-center">Lançamento</h2>
                                    <form action="#" class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <input type="text" class="form-control" id="input_from" placeholder="Data inicial">
                                            </div>
                                            <form>
                                                <label for="appt-time">Começou: </label>
                                                <input id="appt-time" type="time" name="appt-time" />
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <input type="text" class="form-control" id="input_to" placeholder="Data final">
                                            </div>
                                            <form>
                                                <label for="appt-time">Finalizou: </label>
                                                <input id="appt-time" type="time" name="appt-time" />
                                            </form>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TIPO DE HORA -->
                <div class="col-6">
                    <div class="row g-3 pb-4 pt-4">
                        <div class="col-auto">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="col-form-label">Tipo de hora:</label>
                                <select class="selectpicker form-control-sm">
                                    <option>Hora extra</option>
                                    <option>Sobreaviso</option>
                                    <option>Outro</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- TIME -->
                    <div class="row justify-content-center pb-4">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea2" class="form-label fw-medium">Squad:</label>
                                <select class="selectpicker form-control">
                                    <option>Dragon</option>
                                    <option>Falcon</option>
                                    <option>Spiders</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- CLIENTE -->
                    <div class="row justify-content-center pb-4">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea3" class="form-label fw-medium">Cliente:</label>
                                <select class="selectpicker form-control">
                                    <option>Bradescon</option>
                                    <option>Ritau</option>
                                    <option>Nutank</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content pt-0">

            <div class="container text-left">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Comentário</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 col-2 d-md-flex mx-auto">
                <button class="btn btn-primary" type="button">Cancelar</button>
                <button class="btn btn-success" type="button">Registrar</button>
            </div>


            <script src="js/jquery-3.3.1.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/picker.js"></script>
            <script src="js/picker.date.js"></script>

            <script src="js/main.js"></script>


        </div>
</body>
</html>