<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bem Vindo!</title>
    <link rel="icon" href="../../static/image/browser_icon.png">

    <link rel="stylesheet" href="../../static/css/template.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="../../static/js/acess.js" defer></script>
</head>
<body>
      <!-- BACKGROUND -->
      <div class="video-background-holder">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="../../static/image/lines.mp4" type="video/mp4">
        </video>
    <!-- FIM BACKGROUND -->

    <!-- INICIO PAGINA -->
    <div class="container-fluid conteudo-main">
        <div class="row">
            
                <!-- INICIO MENU -->
                <div class="col-sm-2" id="colnavbar">
                    <div class="sidemenu">
                        <a class="" href="#">
                            <img src="../../static/image/icon_2rp.png" class="icon2rp" alt="Home">
                        </a>
                        <nav class="navbar navbar-expand-lg navbar-dark">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav flex-sm-column">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="../home/home.html">Início</a>
                                    </li>
                                    <li class="nav-item" id="timeApontament">
                                        <a class="nav-link active" aria-current="page" href="../timeApontament/timeApontament.html">Registrar Horas</a>
                                    </li>
                                    <li class="nav-item dropdown" id="register">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                            Cadastro
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="../register/registerUser.html">Usuário</a></li>
                                            <li><a class="dropdown-item" href="../register/registerRC.html">Centro de Resultado</a></li>
                                            <li><a class="dropdown-item" href="../register/registerCompany.html">Cliente</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown" id="addRelation">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                            Criar Relação
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="../addRelation/UserRC.html">Usuário e Centro de Resultado</a></li>
                                            <li><a class="dropdown-item" href="../addRelation/clientRC.html">Cliente e Centro de Resultado</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Consulta
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li id="consultUser"><a class="dropdown-item" href="../consult/consultUser.html">Usuário</a></li>
                                            <li id="consultRC"><a class="dropdown-item" href="../consult/consultResultCenter.html">Centro de Resultado</a></li>
                                            <li id="consultCompany"><a class="dropdown-item" href="../consult/consultCompany.html">Cliente</a></li>
                                            <li id="consultTimeApontament"><a class="dropdown-item" href="../consult/consultApontamentTime.html">Horas Registradas</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item" id="approve">
                                        <a class="nav-link active" aria-current="page" href="../approve/approve.html">Aprovar</a>
                                    </li>
                                    <li class="nav-item">                                
                                        <a class="nav-link active" aria-current="page" href="../dashboard/dashboard.html">Dashboard</a>
                                  </li>
                                  <li>
                                        <a class="nav-link active text-danger" aria-current="page" href="../login/loginScreen.html">Sair</a>
                                  </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- FIM MENU -->

                <!--    INICIO CONTEUDO ESPECIFICO -->
                <div class="col" id="conteudo-pagina">
  
                </div>

                    <!-- FIM CONTEUDO ESPECIFICO -->
                </div>
            </div>
        </div>
        

    </div>
<!-- FIM PAGINA -->


     <!-- Arquivos JavaScript do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body> 
</html>