<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Consult Hours</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <h1 class="my-4">Consult Hours</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Start Date</th>
                    <th>Finish Date</th>
                    <th>Type Send</th>
                    <th>Result Center</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="apontament : ${apontaments}">
                        <td th:text="${apontament.user}"></td>
                        <td th:text="${apontament.startDate}"></td>
                        <td th:text="${apontament.finishDate}"></td>
                        <td th:text="${apontament.typeSend}"></td>
                        <td th:text="${apontament.team}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>