<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Consult Client</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <h1 class="my-4">Consult Client</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>CNPJ</th>
                    <th>Razão Social</th>
                    <th>Name Company</th>
                    <th>Status</th>
                    <th>Editar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client : ${clients}">
                    <td th:text="${client.cnpj}"></td>
                    <td th:text="${client.razaoSocial}"></td>
                    <td th:text="${client.nameCompany}"></td>
                    <td th:text="${client.status}"></td>
                    <td>
                        <a th:href="@{/client?cnpj={cnpj}(cnpj=${client.cnpj})}">EDITAR</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>