<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Consult User</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <h1 class="my-4">Consult User</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Jobrole</th>
                    <th>Result Center</th>
                    <th>Status</th>
                    <th>Editar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.jobrole}"></td>
                    <td th:text="${user.resultCenter}"></td>
                    <td th:text="${user.status}"></td>
                    <td>
                        <a th:href="@{/user?id={id}(id=${user.id})}">EDITAR</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>