<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Consult Result Center</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <h1 class="my-4">Consult Result Center</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Code Result Center</th>
                    <th>Result Center</th>
                    <th>Acronym</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rc : ${rcs}">
                    <td th:text="${rc.codeRc}"></td>
                    <td th:text="${rc.rc}"></td>
                    <td th:text="${rc.acronym}"></td>
                    <td th:text="${rc.status}"></td>
<!--                    <td>-->
<!--                        <a th:href="@{/rc?codeRc={codeRc}(codeRc=${rc.codeRc})}">EDITAR</a>-->
<!--                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>